html {
  /* palette colors */
  --c-block-1: #EDAA8F;
  --c-block-2: #F8CB81;
  --c-block-3: #FCE378;
  --c-block-4: #FDD395;
  --c-block-5: #FDFA98;
  --c-block-6: #ACE1A1;
  --c-block-7: #639BE3;

  --c-back-1: #83DCD9;
  --c-back-2: #82BED1;
  --c-back-3: #8A9CCE;
}
