html {
  /* palette colors */
  --c-block-1: #FEC5BB;
  --c-block-2: #FCD5CE;
  --c-block-3: #FAE1DD;
  --c-block-4: #F8EDEB;
  --c-block-5: #E8E8E4;
  --c-block-6: #D8E2DC;
  --c-block-7: #ECE4DB;

  --c-back-1: #FFE5D9;
  --c-back-2: #FFD7BA;
  --c-back-3: #FEC89A;
}